<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand text-center">Tarefas</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" routerLink="">Home</a>
        <a class="nav-link" routerLink="/tasks">Lista de Tarefas</a>
        <a class="nav-link" routerLink="/task/create">Cadastro de Tarefa</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <router-outlet></router-outlet>
  </main>
</div>
